.movies__search {
  padding: 0 70px 0 70px;
  display: flex;
  flex-direction: column;
}

.movies__underline {
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
}

.movies__container {
  display: flex;
  align-items: center;
  margin: 80px 0 83px 0;
}

.movies__search-block {
  width: calc(100% - 208px);
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  border: 1px solid #E8E8E8;
}

.movies__input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #A0A0A0;
  margin: 0 10px 0 22px;
}

.movies__input {
  width: 100%;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-left: 22px;
  border: 0;
}

.movies__search-image {
  height: 34px;
  width: 34px;
  margin-left: 46px;
  margin-right: 7px;
  padding: 0;
  object-fit: cover;
  opacity: 1;
}

.movies__short-title {
  margin: 0 14px 0 41px;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.movies__search-image:hover {
  transition: opacity .2s linear;
  opacity: .8;
  cursor: pointer;
}

.movies__more {
  width: 100%;
}

.movies__more-button {
  width: calc(100% - 140px);
  height: 36px;
  background-color: #F9F9F9;
  margin: 50px 70px 80px 70px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  padding: 0;
  border: 0;
}

.elements {
  display: grid;
  list-style: none;
  margin: 70px 70px 10px;
  padding: 0;
  row-gap: 38px;
  column-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  justify-content: center;
}

.movies__more-button:hover {
  cursor: pointer;
}