.element {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
  background-color: #FDFDFD;
  border-radius: 6px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.1);
  width: 360px;
  align-self: center;
}

.element__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element__trailer-link {
  margin: 0;
  padding: 0;
}

.element__image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.element__button {
  background-color: white;
  border: none;
  padding: 0;
}

.element__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  width: 240px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.element__rectangle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 36px);
  margin: 18px;
}

.element__save {
  width: 100px;
  height: 29px;
  object-fit: cover;
  margin: 0;
  opacity: 1;
  margin: 18px auto;
}

.element__time {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  margin: 0;
}

.element__save:hover {
  transition: opacity .2s linear;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .element {
    width: 342px;
  }

  .element__image {
    width: 342px;
    height: 190px;
  }

  .element__title {
    width: 224px;
  }
}

@media screen and (max-width: 767px) {
  .element {
    width: 300px;
  }

  .element__image {
    width: 300px;
    height: 168px;
  }

  .element__title {
    font-size: 12px;
    line-height: 18px;
    width: 200px;
  }

  .element__time {
    font-size: 10px;
    line-height: 18px;
  }

  .element__rectangle {
    width: calc(100% - 28px);
    margin: 14px;
  }

  .element__save {
    margin: 14px auto;
  }
}