.element {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.element__image {
  width: 270px;
  height: 151px;
  object-fit: cover;
}

.element__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  width: 250px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__rectangle {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.element__save {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin: 0;
  opacity: 1;
}

.element__underline {
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  margin: 0;
  margin-top: 19px;
}

.element__time {
  margin-top: 6px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

.element__save:hover {
  transition: opacity .2s linear;
  opacity: .5;
  cursor: pointer;
}