.navtab__links {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navtab__link {
  color: white;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 25px 20px 25px 20px;
}