.navtab__links {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navtab__link {
  color: white;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 25px 20px 25px 20px;
}

@media screen and (max-width: 767px) {
  .navtab__link {
    font-size: 11px;
    line-height: 16px;
    margin: 25px 12px 25px 12px;
  }
}