.header {
  background-color: #073042;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 18px;
}

.header_loggedin {
  background-color: white;
  font-size: 14px;
  line-height: 18px;
}

.header__logo {
  width: 38px;
  margin-left: 60px;
}

.header__logo_logged-in {
  margin-left: 70px;
}

.header__links {
  margin-right: 70px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.header__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 76px;
  height: 32px;
  text-align: center;
}

.header__link_signup {
  color: white;
}

.header__link_signin {
  color: black;
  background-color: rgba(43, 224, 128, 1);
  border-radius: 3px;
}

.header__link-text {
  margin: 0;
  margin-top: 8px;
}

.header__navigation {
  margin-right: 70px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.header__link_loggedin {
  width: auto;
  display: flex;
}

.header__profile-image {
  width: 26px;
  height: 30px;
  margin: 0;
  margin-left: 18px;
  margin-top: 3px;
}

.header__link-text_movies {
  font-weight: 500;
  color: black;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
}

.header__link-text_saved-movies {
  font-weight: 400;
  color: black;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
}

.header__link-text_profile {
  font-weight: 500;
  color: black;
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 10px;
    line-height: 16px;
    width: 54px;
    height: 26px;
  }

  .header__link-text {
    margin-top: 5px;
  }
}