.promo {
  background-color: #073042;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 524px;
  margin: 0;
}

.promo__title {
  position: absolute;
  margin: 184px auto 224px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: white;
  width: 730px;
}

.promo__logo {
  width: 320px;
  height: 320px;
}